extensions:
    gettextLatte: h4kuna\Gettext\DI\GettextLatteExtension

services:
    TranslatableEntityListener:
        class: Wame\LanguageModule\Listeners\TranslatableEntityListener
        tags: [kdyby.subscriber]
