extensions:
    gettextLatteExtension: h4kuna\Gettext\DI\GettextLatteExtension


gettextLatteExtension:
    loadAllDomains: Core


services:
    - {class: Wame\LanguageModule\Listeners\PresenterListener(), tags: [run]}

    TranslatableEntityListener:
        class: Wame\LanguageModule\Listeners\TranslatableEntityListener
        tags: [kdyby.subscriber]


    # h4kuna gettext-latte modular dictionary
    gettextLatteExtension.dictionary:
        class: Wame\LanguageModule\Gettext\Dictionary

    - Wame\LanguageModule\Gettext\Generator
    - Wame\LanguageModule\Gettext\LatteCompiler
    - Wame\LanguageModule\Gettext\POCompiler
    - Wame\LanguageModule\Gettext\MOCompiler


    # Repositories
    LanguageRepository:
        class: Wame\LanguageModule\Repositories\LanguageRepository
        inject: yes


    # Components
    - Wame\LanguageModule\Components\ILanguageSwitcherControlFactory


    # Forms
    - Wame\LanguageModule\Forms\Containers\ILanguageContainerFactory


    LanguageSwitcherFormBuilder:
        class: Wame\LanguageModule\Forms\LanguageSwitcherFormBuilder
        setup:
            - add(@Wame\LanguageModule\Forms\Containers\ILanguageContainerFactory, 'LanguageContainer', {priority: 90})
            - add(@Wame\DynamicObject\Forms\Containers\ISubmitContainerFactory, 'ISubmitContainerFactory', {priority: 0})


    # Commands
    GeneratePOCommand:
        class: Wame\LanguageModule\Commands\GeneratePOCommand
        tags: [kdyby.console.command]


doctrine:
    metadata:
        Wame\LanguageModule\Entities: %appDir%/../vendor/wame/LanguageModule/entities